annotated-types==0.6.0
anyio==4.1.0
asgiref==3.6.0
atproto==0.0.30
backports.csv==1.0.7
backports.zoneinfo==0.2.1
blurhash==1.1.4
certifi==2023.11.17
chardet==5.1.0
click==8.1.7
cloudinary==1.32.0
contextlib2==21.6.0
dacite==1.8.1
dj-database-url==2.0.0
django-heroku==0.3.1
Django==4.2
docopt==0.6.2
Flask==2.3.2
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.5
internetarchive==3.4.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
libipld==1.0.1
MarkupSafe==2.1.2
Mastodon.py==1.8.1
oauthlib==3.2.2
Pillow==10.1.0
psycopg2==2.9.6
pydantic_core==2.14.5
pydantic==2.5.2
PyJWT==2.8.0
python-magic==0.4.27
requests-oauthlib==1.3.1
requests==2.29.0
schema==0.7.5
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tqdm==4.65.0
tweepy==4.14.0
typing_extensions==4.7.1
urllib3==1.26.15
websockets==11.0.3
Werkzeug==2.3.3
whitenoise==6.4.0
