annotated-types==0.6.0
anyio==4.1.0
atproto==0.0.44
certifi==2023.11.17
click==8.1.7
cloudinary==1.36.0
dacite==1.8.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.5
libipld==1.1.0
Mastodon.py==1.8.1
Pillow==10.1.0
pydantic==2.5.2
pydantic_core==2.14.5
PyJWT==2.8.0
requests==2.31.0
sniffio==1.3.0
typing_extensions==4.7.1
websockets==11.0.3
